<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gama.quatenation"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-sdk
        android:minSdkVersion="21"
        android:targetSdkVersion="21" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.gama.quatenation.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true" >
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/image_path" />
        </provider>

        <receiver android:name=".ToastReceiver" >
            <intent-filter>
                <action android:name="com.unitedcoders.android.broadcasttest.SHOWTOAST" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".QuotePreviewActivity"
            android:label="@string/title_activity_quote_preview" >
            <intent-filter>
                <action android:name="com.gama.quatenation.OnCompleteTessApiBroadcastListener" >
                </action>
            </intent-filter>
        </activity>
        <activity
            android:name=".ArchiveActivity"
            android:label="@string/title_activity_archive" >
        </activity>
        <activity
            android:name=".PrivateActivity"
            android:label="@string/title_activity_private" >
        </activity>
        <activity
            android:name=".PublicActivity"
            android:label="@string/title_activity_public" >
        </activity>
        <activity
            android:name=".CroppingActivity"
            android:label="@string/title_activity_croppiing" >
        </activity>
    </application>

</manifest>